PORT=3000
APP_ORIGIN=http://127.0.0.1:3000
TRUST_PROXY=false
PGHOST=127.0.0.1
PGPORT=5432
PGUSER=postgres
PGPASSWORD=
PGDATABASE=contact_webrtc_lab
PGADMINDATABASE=postgres
PGCONNECT_TIMEOUT_MS=2000
AUTH_RATE_LIMIT_WINDOW_MS=60000
AUTH_RATE_LIMIT_MAX=10
